@import url(variables.css);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto Condensed", sans-serif;
}

body {
    height: 100dvh;
    background: var(--color-principal);
    padding: 5vh;
    display: flex;
    font-family: 'Space Grotesk', sans-serif;
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
    color: var(--color-secundario);
}
.body__left li,
.body__left i {
    margin: 2vw 0;
    border-radius: 50px;
    padding: .8vw;
    transition: all .2s, box-shadow .5s;
    cursor: pointer;
    width: 100%;
}

.body__pages ul a li:hover,
.body__left .carrito:hover,
.active {
    background: var(--color-hover);
    color: var(--color-secundario);
    box-shadow: 0 0 25px var(--color-hover);
    scale: 1.1;
}
.body__left {
    width: 25%;
    color: var(--color-secundario);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.body__left h1 {
    font-size: 3vw;
    font-family: 'Montserrat', sans-serif;
}
.body__pages ul a{
    font-size: 1.5vw;
}
#check, .checkbtn {
    display: none;
}
.carrito {
    font-size: 2vw;
}
img {
    width: 15vw;
    height: 15vw;
    object-fit: cover;
    border-radius: 20px 20px 20px 20px;
}
.body__left p:last-child {
    font-size: .8vw;
}








.body__products {
    padding: 30px 20px 30px 30px;
    width: 75%;
    background: var(--color-secundario);
    border-radius: 50px;
    position: relative;
    z-index: 1;
    box-shadow: 0 0 20px 5px var(--color-hover);
}
#contenedor {
    padding: 20px 0;
    height: 80%;
    width: 100%;
    overflow-y: scroll;
    scrollbar-width: thin;
    scrollbar-color: var(--color-hover) var(--color-secundario);
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2vw;
    margin-bottom: 1vw;
}
.body__products h1 {
    height: 10%;
    display: flex;
    align-items: center;
    color: var(--color-hover);
    font-size: 3vw;
    font-family: 'Montserrat', sans-serif;
}
.contenedor > div {
    box-shadow: 0 0 15px var(--color-hover);
    background: var(--color-cards);
    border-radius: 20px;
    transition: all .5s;
    width: 80%;
    height: max-content;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 1vw;
}
.contenedor > div i {
    font-size: 1.5vw;
    color: var(--color-hover);
}
.contenedor > div:hover {
    background: var(--color-darkcards);
    scale: 1.1;
}
.contenedor > div > div {
    display: flex;
    align-items: center;
    gap: 2vw;
}
.informacion,
.cantidad,
.sub {
    height: max-content;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 15px;
}
.informacion p:first-child,
.cantidad p:first-child,
.sub p:first-child {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.3vw;
    font-weight: 600; 
    color: var(--color-hover);
    text-align: center;
    
}
.cantidad p:last-child,
.informacion p:last-child,
.sub p:last-child {
    width: 100%;
    text-align: center;
    font-weight: 500;
    font-size: 1vw;
}

.pay__process {
    height: 10%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.clean__cart {
    width: 10vw;
    height: max-content;
    text-align: center;
    padding: 1vw;
    background-color: var(--color-hover);
    border-radius: 50px;
    font-size: 1vw;
    transition: .3s;
}
.clean__cart:hover {
    text-shadow: 0 0 5px var(--color-secundario);
    scale: 1.1;
    box-shadow: 0 0 15px var(--color-hover);
}

.buy__now {
    display: flex;
    justify-content: space-evenly;
    width: 17vw;
    padding: 1%;
    background: var(--color-cards);
    border-radius: 20px;
    font-size: 1vw;
    font-weight: 500;
    color: var(--color-hover);
    text-align: center;
}
.total {
    display: flex;
    flex-direction: column;
    gap: 3px;
}

.buy__now button {
    border-radius: 50px;
    border: none;
    background: var(--color-hover);
    color: var(--color-secundario);
    padding: .8vw;
    font-weight: 500;
    font-size: 1vw;
    cursor: pointer;
    transition: .3s;
}
.buy__now button:hover {
    scale: 1.1;
    box-shadow: 0 0 15px var(--color-hover);
    text-shadow: 0 0 5px var(--color-secundario);
}
@media (width < 1024px) and (height > 629px) {
    body {
        padding: 0;
        display: grid;
        grid-template: 
        "head" 80px
        "content" 1fr / 1fr;
        justify-items: center;
    }
    .body__left {
        flex-direction: row;
        width: 100%;
        justify-content: space-around;
        align-items: center;
        z-index: 1;
    }
    .nav__menu {
        position: fixed;
        width: 100%;
        height: 50vh;
        background: var(--color-cards);
        right: 100%;
        top: 80px;
        opacity: 0;
        transition: .5s;
    }
    #check:checked ~ ul {
        right: 0;
        opacity: 1;    
    }
    .nav__menu a li,
    .body__left a i {
        transition: none;
        margin: 0;
    }
    .nav__menu a > li {
        color: var(--color-secundario);
        font-size: 3vh;
        font-weight: 400;
        text-align: center;
    }
    .nav__menu > a {
        width: 90%;
    }
    .nav__menu {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    }
    .active {
        scale: 1;
    }
    .body__left > p {
        display: none;
    }
    .carrito {
        font-size: 4vh;
    }
    .checkbtn {
        display: block;
        font-size: 3vh;
    }
    #header h1 {
        font-size: 3vh;
    }

    /*Products part*/
    .body__products {
        z-index: 0;
        width: 98%;
        border-radius: 25px 25px 0 0;
        padding: 2vh 1.5vh 2vh 1.5vh;
    }
    #contenedor {
        height: 80%;
        gap: 5vh;
        margin-bottom: 0;
    }
    img {
        width: 15vh;
        height: 15vh;
    }
    .body__products h1 {
        font-size: 3vh;
        justify-content: center;
    }
    .contenedor > div {
        box-shadow: 0 0 10px var(--color-hover);
        width: 90%;
    }
    .contenedor > div i {
        font-size: 2vh;
    }
    .contenedor > div > div {
        flex-direction: column;
        gap: 0;
    }
    .informacion,
    .cantidad,
    .sub {
        gap: 0;
    }
    .informacion p:first-child,
    .cantidad p:first-child,
    .sub p:first-child {
        font-size: 2vh;
    }
    .cantidad p:last-child,
    .informacion p:last-child,
    .sub p:last-child {
        font-size: 1.5vh;
    }
    #contenedor > p {
        font-size: 1.3vh;
    }
    .clean__cart {
        width: 15vh;
        padding: 1vh;
        font-size: 1.5vh;
    }
    .buy__now {
        width: 17vh;
        padding: 1vh;
        font-size: 1.3vh;
    }
    .buy__now button {
        font-size: 1.3vh;
        padding: .8vh;
    }
}