@import url(variables.css);
@import url(carrito.css);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto Condensed", sans-serif;
}

body {
    height: 100dvh;
    background: var(--color-principal);
    padding: 5vh;
    display: flex;
    font-family: 'Space Grotesk', sans-serif;
}
ul {
    list-style: none;
}
.nav__menu button li,
.body__left i {
    height: max-content;
    margin: 2vw 0;
    border-radius: 50px;
    padding: .8vw;
    transition: all .2s, box-shadow .5s;
    cursor: pointer;
    width: 100%;
}
.body__left #check ~ label i{
    font-size: 5vh;
}
.body__pages ul button li:hover,
.body__left #check:checked ~ label i ,
.body__left > button i:hover,
.active {
    background: var(--color-hover);
    color: var(--color-secundario);
    box-shadow: 0 0 25px var(--color-hover);
    scale: 1.1;
}
.body__left {
    width: 25%;
    color: var(--color-secundario);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.body__left h1 {
    font-size: 3vw;
    font-family: 'Montserrat', sans-serif;
}
.nav__menu button,
.body__left > button {
    font-size: 1.5vw;
    background: none;
    border: none;
    position: relative;
    color: var(--color-secundario);
    text-align: left;
}
.nav__menu {
    display: flex;
    flex-direction: column;
}
#check, .checkbtn {
    display: none;
}
.carrito {
    font-size: 2vw;
    position: relative;
}
img {
    width: 12vw;
    height: 15vw;
    object-fit: cover;
    border-radius: 20px 20px 0 0;
}
.body__left p:last-child {
    font-size: .8vw;
}
#counter {
    position: absolute;
    top: 25%;
    right: 75%;
    font-size: 1.5vw;
}






.body__products {
    padding: 30px 20px 30px 30px;
    width: 75%;
    background: var(--color-secundario);
    border-radius: 50px;
    position: relative;
    z-index: 1;
    box-shadow: 0 0 20px 5px var(--color-hover);
}
#contenedor {
    padding: 10px 0;
    height: 90%;
    width: 100%;
    overflow-y: scroll;
    scrollbar-width: thin;
    scrollbar-color: var(--color-hover) var(--color-secundario);
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 3vw;
    margin-bottom: 1vw;
}
.body__products h1 {
    height: 10%;
    display: flex;
    align-items: center;
    color: var(--color-hover);
    font-size: 3vw;
    font-family: 'Montserrat', sans-serif;
}
.contenedor > my-card,
.contenedor > my-cartcard {
    box-shadow: 0 0 15px var(--color-hover);
    background: var(--color-cards);
    border-radius: 20px;
    height: max-content;
    width: 240px;
    text-align: center;
    padding-bottom: 1vh;
    
    animation: reveal linear both;
    animation-timeline: view();
    animation-range: entry 20% cover 25%;
}
@keyframes reveal {
	from {
		opacity: 0;
		clip-path: inset(45% 20% 45% 20%);
        scale: .5;
	}
	to {
		opacity: 1;
		clip-path: inset(-10% -10% -10% -10%);
        scale: 1;
	}
}
.contenedor > my-card:hover,
.contenedor > my-cartcard:hover {
    background: var(--color-darkcards);
    transition: all .5s;
} 
.informacion {
    height: 8vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1vw;
}
.informacion p:first-child {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.2rem;
    font-weight: 500; 
    color: var(--color-hover);
}
.informacion .precio {
    font-size: 1.8vh;
    font-weight: 500;
    color: var(--color-hover);
}
.informacion button {
    background: var(--color-cards);
    width: 6vw;
    height: 2vw;
    border-radius: 10px;
    box-shadow: 0 0 10px var(--color-hover);
    border: none;
    font-size: 1vw;
    font-weight: 500;
    color: var(--color-hover);
    cursor: pointer;
}
.informacion button:hover {
    background: var(--color-darkcards);
}
.informacion button:active {
    background: var(--color-cards);
    color: var(--color-secundario);
}
#contenedor > p {
    width: 100%;
    color: var(--color-hover);
    font-size: 1.3vw;
}

@media (width < 1024px) and (height > 629px), (width = 1024px) and (height = 1366px) {
    body {
        padding: 0;
        display: grid;
        grid-template: 
        "head" 80px
        "content" 1fr / 1fr;
        justify-items: center;
    }
    .body__left {
        flex-direction: row;
        width: 100%;
        justify-content: space-around;
        align-items: center;
        z-index: 1;
    }
    .nav__menu {
        position: fixed;
        width: 100%;
        height: 50vh;
        background: var(--color-cards);
        right: 100%;
        top: 80px;
        opacity: 0;
        transition: .5s;
    }
    #check:checked ~ ul {
        right: 0;
        opacity: 1;    
    }
    .nav__menu button li,
    .body__left a i {
        transition: none;
        margin: 0;
    }
    .nav__menu button > li {
        color: var(--color-secundario);
        font-size: 3vh;
        font-weight: 400;
        text-align: center;
    }
    .nav__menu > button {
        width: 90%;
    }
    .nav__menu {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    }
    .active {
        scale: 1;
    }
    .body__left > p {
        display: none;
    }
    .carrito {
        font-size: 5vh;
    }
    .checkbtn {
        display: block;
        font-size: 3vh;
    }
    #header h1 {
        font-size: 3vh;
    }
    .body__pages {
        order: -1;
    }
    #counter {
        font-size: 2.3vh;
        top: 75%;
        right: 0%;
    }
    /*Products part*/
    .body__products {
        z-index: 0;
        width: 100%;
        border-radius: 0;
        padding: 2vh 1.5vh 2vh 1.5vh;
        overflow-y: scroll;
    }
    #contenedor {
        height: 90%;
        gap: 3vh;
        margin-bottom: 0;
    }
    img {
        width: 20vh;
        height: 20vh;
    }
    .body__products h1 {
        font-size: 3vh;
        justify-content: center;
    }
    .contenedor > my-card,
    .contenedor > my-cartcard {
        box-shadow: 0 0 10px var(--color-hover);
        width: max-content;
    }
    .informacion {
        height: 8vh;
        gap: 1vh;
    }
    .informacion p:first-child {
        font-size: 1.5vh;
    }
    .informacion button {
        font-size: 2vh;
        width: 6vh;
        height: 3vh;
    }
    #contenedor > p {
        font-size: 1.3vh;
    }
}