@import url(variables.css);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto Condensed", sans-serif;
}

body {
    height: 100dvh;
    background: var(--color-principal);
    padding: 5vh;
    display: flex;
    font-family: 'Space Grotesk', sans-serif;
}
ul {
    list-style: none;
}
.body__left a {
    text-decoration: none;
    color: var(--color-secundario);
}
.body__left li,
.body__left i {
    height: max-content;
    margin: 30px 0;
    border-radius: 50px;
    padding: 10px;
    transition: all .2s, box-shadow .5s;
    cursor: pointer;
    width: 100%;
}

.body__pages ul a li:hover,
.body__left i:hover,
.active {
    background: var(--color-hover);
    color: var(--color-secundario);
    box-shadow: 0 0 25px var(--color-hover);
    scale: 1.1;
}
.body__left {
    width: 25%;
    color: var(--color-secundario);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.body__left h1 {
    font-size: 3vw;
    font-family: 'Montserrat', sans-serif;
}
.body__pages ul a{
    font-size: 1.5vw;
}
#check, .checkbtn {
    display: none;
}
.carrito {
    font-size: 2vw;
}
img {
    width: 320px;
    height: 340px;
    object-fit: cover;
    border-radius: 20px 20px 0 0;
}








.body__products {
    padding: 30px 20px 30px 30px;
    width: 75%;
    background: var(--color-secundario);
    border-radius: 50px;
    position: relative;
    z-index: 1;
    box-shadow: 0 0 20px 5px var(--color-hover);
}
#contenedor {
    padding-top: 10px;
    height: 90%;
    width: 100%;
    overflow-y: scroll;
    scrollbar-width: thin;
    scrollbar-color: var(--color-hover) var(--color-secundario);
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 75px;
    margin-bottom: 20px;
}
.body__products h1 {
    height: 10%;
    display: flex;
    align-items: center;
    color: var(--color-hover);
    font-size: 3vw;
}
.contenedor > div {
    box-shadow: 0 0 15px var(--color-hover);
    background: var(--color-cards);
    border-radius: 20px;
    transition: all .5s;
}
.contenedor > div:hover {
    background: var(--color-darkcards);
    scale: 1.1;
}
.informacion {
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 15px;
}
.informacion p:first-child {
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
    font-weight: 300; 
}
.informacion .precio {
    font-size: 20px;
    font-weight: 500;
}
.informacion button {
    background: var(--color-cards);
    width: 100px;
    height: 35px;
    border-radius: 10px;
    box-shadow: 0 0 10px var(--color-hover);
    border: none;
    font-size: 17px;
    font-weight: 300;
    cursor: pointer;
}
.informacion button:hover {
    background: var(--color-darkcards);
}


/*CART SECTION*/

.informacion button:active {
    background: var(--color-cards);
    color: var(--color-secundario);
}

.diseñoNumero {
    padding: 10px;
    background: red;
    border-radius: 100%;
    width: 20px;
    height: 20px;
    font-size: 10px;
    position: relative;
    top: -12px;
    left: 30px;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contenedorCompra {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0px;
    background-color: rgba(51, 51, 51, 0.6);
    flex-direction: column;
    gap: 35px;
}

.informacionCompra {
    width: 500px;
    height: 500px;
    background: var(--color-cards);
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    position: fixed;
}
.informacionCompra h2 {
    font-weight: 300;
    margin: 50px 0 0 50px;
    font-size: 32px;
    width: 100%;
    color: var(--color-hover);
}
.x {
    padding-top: 30px;
    padding-right: 30px;
    cursor: pointer;
    font-size: 20px;
    color: var(--color-hover);
}
.productosCompra {
    font-size: 17px;
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    width: 450px;
    height: 30%;
    overflow-y: auto;
    margin-top: 50px;
}
.productosCompra > div {
    margin: 0 45px;
    padding: 20px 0;
    width: auto;
    border-bottom: 1px dotted black;
    display: flex;
    justify-content: space-between;
}

.productosCompra::-webkit-scrollbar {
    width: 7px;
    background-color: #141c29;
    border-radius: 5px;
}

.productosCompra::-webkit-scrollbar-thumb {
    background: white;
    border-radius: 3px;
}
.img {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.productosCompra img {
    width: 25px;
    height: auto;
    margin-right: 10px;
    border-bottom: none;
    cursor: pointer;
}
.total {
    z-index: 1;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 150px;
    font-size: 27px;
    font-weight: 700;
}

.contenedorCompra button {
    z-index: 1;
    background: var(--color-darkcards);
    width: 300px;
    height: 45px;
    border-radius: 10px;
    border: none;
    font-size: 17px;
    font-weight: 300;
}
.contenedorCompra button:hover {
    background: var(--color-cards);
    color: var(--color-secundario);
}