@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --color-principal: #9b5a44;
    --color-secundario: #fff;
    --color-hover: #5e3d2c;
    --color-shadows: #dca552;
    --color-cards: #d2bcad;
    --color-emergency: #e2954d;

}