{%extends 'index.html'%}
{%block nav%}
    <a href="{{url_for('index')}}"><li>Todos los productos</li></a>
    <a href="{{url_for('abrigos')}}"><li class="active">Abrigos</li></a>
    <a href="{{url_for('tshirts')}}"><li>Camisetas</li></a>
    <a href="{{url_for('pants')}}"><li>Pantalones</li></a>
{%endblock%}

{% block content %}
    <h1>Abrigos</h1>
    <div class="contenedor" id="contenedor">
        {%for item in peticion%}
            {%if  item['id'] | int() < 6 %}
                <div>
                    <img src="{{item['img']}}">
                    <div class="informacion">
                        <p>{{item['description']}}</p>
                        <p class="precio">$ {{item['price']}}</p>
                        <button>Buy</button>
                    </div>
                </div>
            {%endif%}
        {%endfor%}
    </div>
{%endblock%}