{%extends 'index.html'%}
{%block nav%}
    <a href="{{url_for('index')}}"><li>Todos los productos</li></a>
    <a href="{{url_for('abrigos')}}"><li class="active">Abrigos</li></a>
    <a href="{{url_for('tshirts')}}"><li>Camisetas</li></a>
    <a href="{{url_for('pants')}}"><li>Pantalones</li></a>
{%endblock%}

{% block content %}
    <h1>Abrigos</h1>
    <div class="contenedor" id="contenedor">
        <div>
            <img src="../storage/img/blackJacket.webp" alt="chaqueta 1">
            <div class="informacion">
                <p>black leather jacket</p>
                <p class="precio">$100000</p>
                <button>Buy</button>
            </div>
        </div>
        <div>
            <img src="../storage/img/blackLongJacket.webp" alt="chaqueta 2">
            <div class="informacion">
                <p>Long black jacket</p>
                <p class="precio">$180000</p>
                <button>Buy</button>
            </div>
        </div>
        <div>
            <img src="../storage/img/blueLongJacket.webp" alt="chaqueta 3">
            <div class="informacion">
                <p>Long blue jacket</p>
                <p class="precio">$180000</p>
                <button>Buy</button>
            </div>
        </div>
        <div>
            <img src="../storage/img/whiteLongJacket.webp" alt="chaqueta 4">
            <div class="informacion">
                <p>Long white jacket</p>
                <p class="precio">$180000</p>
                <button>Buy</button>
            </div>
        </div>
        <div>
            <img src="../storage/img/omegaHoodie.webp" alt="chaqueta 5">
            <div class="informacion">
                <p>Black formal jacket</p>
                <p class="precio">$160000</p>
                <button>Buy</button>
            </div>
        </div>
    </div>
{%endblock%}