{%extends 'index.html'%}

{%block nav%}
    <a href="{{url_for('index')}}"><li>Todos los productos</li></a>
    <a href="{{url_for('abrigos')}}"><li>Abrigos</li></a>
    <a href="{{url_for('tshirts')}}"><li class="active">Camisetas</li></a>
    <a href="{{url_for('pants')}}"><li>Pantalones</li></a>
{%endblock%}
{%block content%}
    <h1>Camisetas</h1>
    <div class="contenedor" id="contenedor">
        {%for item in peticion%}
            {%if 10 < item['id'] | int() and item['id'] | int() < 16 %}
                <div>
                    <img src="{{item['img']}}">
                    <div class="informacion">
                        <p>{{item['description']}}</p>
                        <p class="precio">$ {{item['price']}}</p>
                        <button>Buy</button>
                    </div>
                </div>
            {%endif%}
        {%endfor%}
    </div>
{%endblock%}