{%extends 'index.html'%}
{%block nav%}
    <a href="{{url_for('index')}}"><li>Todos los productos</li></a>
    <a href="{{url_for('abrigos')}}"><li>Abrigos</li></a>
    <a href="{{url_for('tshirts')}}"><li>Camisetas</li></a>
    <a href="{{url_for('pants')}}"><li>Pantalones</li></a>
{%endblock%}
{%block cart%}
    <a href="{{url_for('emptcart')}}"><i class='bx bx-cart carrito active' alt="carrito compras"></i></a>
{%endblock%}
{%block content%}
    <h1>Carrito</h1>
    <div class="contenedor" id="contenedor">
        <p>Tu carrito esta vacio :(</p>
    </div>
{%endblock%}