{%extends 'index.html'%}
{%block css%}
    <link rel="stylesheet" href="{{url_for('static', filename='css/carrito.css')}}">
{%endblock%}
{%block nav%}
    <a href="{{url_for('index')}}"><li>Todos los productos</li></a>
    <a href="{{url_for('abrigos')}}"><li>Abrigos</li></a>
    <a href="{{url_for('tshirts')}}"><li>Camisetas</li></a>
    <a href="{{url_for('pants')}}"><li>Pantalones</li></a>
{%endblock%}
{%block cart%}
    <a href="{{url_for('cart')}}"><i class='bx bx-cart carrito active' alt="carrito compras"></i></a>
{%endblock%}
{%block content%}
    <h1>Carrito</h1>
    <div class="contenedor" id="contenedor">
        {% for item in peticion %}
            <div>
                <img src="{{item['img']}}">
                <div>
                    <div class="informacion">
                        <p>{{item['description']}}</p>
                        <p class="precio">$ {{item['price']}}</p>
                    </div>
                    <div class="cantidad">
                        <p>Cantidad</p>
                        <p>1</p>
                    </div>
                    <div class="sub">
                        <p>Sub-Total</p>
                        <p>$ {{item['price']}}</p>
                    </div>
                </div>
                <a href="#"><i class='bx bx-trash'></i></a>
            </div>
        {%endfor%}
    </div>
    <div class="pay__process">
        <section class="clean__cart">
            <a href="{{url_for('emptcart')}}"><p>Vacear carrito</p></a>
        </section>
        <section class="buy__now">
            <div class="total">
                <p>Total</p>
                <p>$ 1590000</p>
            </div>
            <a href="{{url_for('emptcart')}}"><button onclick="alert('Gracias por tu compra')">Comprar Ahora</button></a>
        </section>
    </div>
{%endblock%}