<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CampusShop</title>
    <link rel="shortcut icon" href="storage/img/logo.webp" type="image/x-icon">
    {%block css%} <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}"> {%endblock%}
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <script src="js/main.js" defer></script>
</head>
<body>
    <div class="body__left">
        <header id="header">
            <h1>CampusShop</h1>
        </header>
        <nav class="body__pages">
            <input type="checkbox" id="check">
            <label for="check" class="checkbtn">
                <i class='bx bx-menu'></i>
            </label>
            <ul class="nav__menu">
                {%block nav%}
                <a href="{{url_for('index')}}"><li class="active">Todos los productos</li></a>
                <a href="{{url_for('abrigos')}}"><li>Abrigos</li></a>
                <a href="{{url_for('tshirts')}}"><li>Camisetas</li></a>
                <a href="{{url_for('pants')}}"><li>Pantalones</li></a>
                {%endblock%}
            </ul>
        </nav>
        {%block cart%} <a href="{{url_for('cart')}}"><i class='bx bx-cart carrito' alt="carrito compras"></i></a> {%endblock%}
        <p>© 2023 Camper</p>
    </div>
    <div class="body__products">
        {% block content %}
        <h1>Todos los productos</h1>
        <div class="contenedor" id="contenedor">
            {% for item in peticion %}
                <div>
                    <img src="{{item['img']}}">
                    <div class="informacion">
                        <p>{{item['description']}}</p>
                        <p class="precio">$ {{item['price']}}</p>
                        <button>Buy</button>
                    </div>
                </div>
            {%endfor%}
        </div>
        {%endblock%}
    </div>
</body>
</html>